:root {
  --moveHeight: 60px;
}

.wtw_moveVoid {
  position: absolute !important;
}

.wtw_moveHand {
  position: relative;
  margin: 12px 0 24px 0;
  z-index: 101;
}

.wtw_moveDiscard {
  position: relative;
  aspect-ratio: 447 / 300;
  height: var(--moveHeight);
  padding: 0;
  pointer-events: auto;
  z-index: 1;

  .wtw_move {
    position: absolute;
    z-index: 1;

    &:not(:first-child) {
      .card-side {
        box-shadow: none !important;
      }
    }
  }
}

.wtw_discardTitle {
  color: black;
  font-size: 16px;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.wtw_discardCounter {
  --bga-cards-deck-left: 50%;
  --bga-cards-deck-top: -5%;
}

.wtw_deckCounter {
  font-size: 36px !important;
  font-weight: bold;
  text-shadow: 0 0 3px black, 0 0 6px black, 0 0 9px black, 0 0 12px black !important;
}

.wtw_move {
  aspect-ratio: 447 / 300;
  height: var(--moveHeight);

  &-selected {
    outline: 2px solid green;
    transform: translateY(-20%) !important;
    z-index: 1;
  }

  &-tooltip {
    --moveHeight: 100px;
  }

  .card-side {
    box-shadow: 1px 1px 4px 1px !important;
    background-size: cover;
  }

  &-front {
    background-image: url("img/moves_1.png");
  }

  &-back {
    background-image: url("img/moveBack.jpg");
  }

  &-icon {
    --moveHeight: 60px;
    margin: 2px auto 0 auto;

    .card-side {
      box-shadow: 1px 1px 4px !important;
    }
  }
}
