:root {
  --moveHeight: 100px;
}

.wtw_moveHand {
  position: fixed;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s;
  z-index: 2;

  &:hover,
  &:has(.wtw_move-selected) {
    bottom: -5%;
  }
}

.wtw_moveDiscard {
  aspect-ratio: 447 / 300;
  height: var(--moveHeight);

  .wtw_move {
    position: absolute;
  }
}

.wtw_deckCounter {
  font-size: 48px !important;
  font-weight: bold;
}

.wtw_move {
  aspect-ratio: 447 / 300;
  height: var(--moveHeight);

  &-selected {
    outline: 3px solid red;
    transform: translateY(-20%) !important;
    z-index: 1;
  }

  .card-side {
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.5) !important;
    background-size: cover;
  }

  &-front {
    background-image: url("img/moves_1.png");
  }

  &-back {
    background-image: url("img/moveBack.jpg");
  }
}
