@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * WanderingTowers implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * wanderingtowers.css
 *
 * WanderingTowers stylesheet
 *
 */
#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .bga-dice_die {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bga-dice_die {
  --roll-duration: 1000ms;
  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bga-dice_die .bga-dice_die-faces {
  transform-origin: center center;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  transform: rotate3d(1, 1, 1, -720deg);
  transition: transform var(--roll-duration) ease-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.bga-dice_die .bga-dice_die-faces .bga-dice_die-face {
  position: absolute;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.bga-dice_die4 {
  --third-size: calc(var(--size) / 3 * 0.6);
  transform: translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotateZ(0deg) rotateX(0deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(0, 1, 0, 180deg) rotateZ(0deg) rotateX(70.528779deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotateZ(180deg) rotateX(250deg) rotateZ(-120deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotateX(120deg) rotateZ(-60deg);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 86.6%;
  transform-origin: 50% 66.66667%;
  margin-left: calc(var-(--size) * -0.5);
  margin-top: calc(var-(--size) * -0.5);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotateZ(0deg) rotateX(-70.528779deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotateZ(120deg) rotateX(-70.528779deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotateZ(240deg) rotateX(-70.528779deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face .bga-dice_die-face-number {
  transform-origin: center 66.66667%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: block;
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face .bga-dice_die-face-number:nth-child(1) {
  transform: rotateZ(0deg);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face .bga-dice_die-face-number:nth-child(2) {
  transform: rotateZ(120deg);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face .bga-dice_die-face-number:nth-child(3) {
  transform: rotateZ(240deg);
}

.bga-dice_die6 {
  --half-size: calc(var(--size) / 2);
  transform: translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(1, 0, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotate3d(0, -1, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotate3d(0, 1, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="5"] {
  transform: rotate3d(-1, 0, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face {
  border-radius: var(--bga-dice_border-radius);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--half-size));
}

.bga-dice_die-stock {
  perspective: var(--perspective);
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bga-dice_die-stock .bga-dice_die.bga-dice_selectable-die:not(.bga-dice_disabled-die) {
  cursor: pointer;
}

.bga-dice_die-stock .bga-dice_die.bga-dice_disabled-die {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.bga-dice_die-stock.bga-dice_line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.bga-dice_die-stock.bga-dice_line-stock[data-center=true] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.bga-dice_die-stock.bga-dice_slot-stock[data-center=true] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_manual-position-stock {
  position: relative;
}

.bga-dice_die-stock.bga-dice_manual-position-stock .bga-dice_die {
  position: absolute;
}

.bga-dice_die-stock.bga-dice_void-stock {
  position: relative;
}

.bga-dice_die-stock.bga-dice_void-stock .bga-dice_die {
  position: absolute;
}

.bga-dice_die .bga-dice_die-face[data-face="1"] {
  background-position-x: 0%;
}

.bga-dice_die .bga-dice_die-face[data-face="2"] {
  background-position-x: 20%;
}

.bga-dice_die .bga-dice_die-face[data-face="3"] {
  background-position-x: 40%;
}

.bga-dice_die .bga-dice_die-face[data-face="4"] {
  background-position-x: 60%;
}

.bga-dice_die .bga-dice_die-face[data-face="5"] {
  background-position-x: 80%;
}

.bga-dice_die .bga-dice_die-face[data-face="6"] {
  background-position-x: 100%;
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover,
.card-stock.all-visible-deck.vertical:active,
.card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card,
.card-stock.all-visible-deck.vertical:active > .card,
.card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover,
.card-stock.all-visible-deck.horizontal:active,
.card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card,
.card-stock.all-visible-deck.horizontal:active > .card,
.card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.deck .card {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}
.deck .card .card-side {
  box-shadow: none !important;
}

.wtw_positiveButton {
  background-color: green;
}
.wtw_positiveButton:hover {
  background-color: green !important;
}

.wtw_whiteblock {
  background-color: rgba(255, 255, 255, 0.6666666667);
  border-radius: 8px;
  padding: 4px;
}

.player-board-game-specific-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
}

.wtw_tooltipText {
  font-family: "Kuhlenbach", Roboto, Arial, sans-serif;
  font-size: 28px;
}

.wtw_tooltipTitle {
  font-size: 32px;
  font-family: "Kuhlenbach", Roboto, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
}

.wtw_button {
  background: var(--color);
  border: 1px solid var(--borderColor);
}
.wtw_button:hover {
  background: var(--color) !important;
}
.wtw_button-brown {
  --color: peru;
  --borderColor: sienna;
}

.wtw_logHighlight {
  font-weight: bold;
}

:root {
  --boardWidth: calc(var(--spaceWidth) * 5.8);
}

.wtw_boardCenter {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  aspect-ratio: 1;
  width: calc(var(--boardWidth) * 0.7);
  z-index: 1;
  pointer-events: none;
}

.wtw_card {
  position: relative;
}
.wtw_card .card-side {
  box-shadow: none !important;
  width: 100%;
}

.wtw_deck .wtw_card {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.wtw_pref-thematicBg {
  background-image: url("img/background2.png");
  background-size: 100% 100%;
}
.wtw_pref-thematicBg .player-board {
  background-image: url("img/background.png");
  background-size: cover;
  background-position: center;
}

.wtw_pref-floatingHand .wtw_moveHand {
  position: fixed;
  left: 50%;
  bottom: -10%;
  margin: 0;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s;
  z-index: 2;
}
.wtw_pref-floatingHand .wtw_moveHand:hover, .wtw_pref-floatingHand .wtw_moveHand:has(.wtw_move-selected) {
  bottom: -5%;
}
.wtw_pref-floatingHand .wtw_boardCenter {
  top: 50%;
}

:root {
  --spaceWidth: 200px;
  --tileWidth: calc(var(--spaceWidth) * 3.75);
}

.wtw_spacesContainer {
  position: relative;
  aspect-ratio: 1;
  width: var(--boardWidth);
}

.wtw_tierCounter {
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 3px black, 0 0 6px black, 0 0 9px black, 0 0 12px black;
  position: absolute;
  bottom: calc(var(--spaceWidth) / -8);
  left: 50%;
  transform: translateX(-50%);
}

.wtw_tiles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: var(--boardWidth);
  pointer-events: none;
}

.wtw_tile {
  position: absolute;
  background-size: cover;
  aspect-ratio: 3268/1501;
  width: var(--tileWidth);
}
.wtw_tile-1 {
  background-image: url("img/tile_1.png");
  transform: rotate(180deg);
  top: 0;
  left: calc(var(--tileWidth) / 5.35);
}
.wtw_tile-2 {
  background-image: url("img/tile_2.png");
  transform: rotate(-90deg);
  bottom: calc(var(--tileWidth) * 0.625);
  right: calc(var(--tileWidth) * -0.29);
}
.wtw_tile-3 {
  background-image: url("img/tile_3.png");
  bottom: calc(var(--tileWidth) * -0.025);
  right: calc(var(--tileWidth) / 5.8);
}
.wtw_tile-4 {
  background-image: url("img/tile_4.png");
  transform: rotate(90deg);
  top: calc(var(--tileWidth) * 0.65);
  left: calc(var(--tileWidth) * -0.276);
}

[data-space="1"] {
  top: calc(var(--spaceWidth) * 0.7);
  left: calc(var(--spaceWidth) * 0.7);
  background-position: 0;
}

[data-space="2"] {
  top: 0;
  left: calc(var(--spaceWidth) * 1.4);
  background-position: -100% 0;
}

[data-space="3"] {
  top: 0;
  left: calc(var(--spaceWidth) * 2.4);
  background-position: -200% 0;
}

[data-space="4"] {
  top: 0;
  left: calc(var(--spaceWidth) * 3.45);
  background-position: -300% 0;
}

[data-space="5"] {
  top: calc(var(--spaceWidth) * 0.7);
  left: calc(var(--spaceWidth) * 4.15);
  background-position: -400% 0;
}

[data-space="6"] {
  top: calc(var(--spaceWidth) * 1.4);
  left: calc(var(--spaceWidth) * 4.87);
  background-position: -500% 0;
}

[data-space="7"] {
  top: calc(var(--spaceWidth) * 2.4);
  left: calc(var(--spaceWidth) * 4.87);
  background-position: -600% 0;
}

[data-space="8"] {
  top: calc(var(--spaceWidth) * 3.45);
  left: calc(var(--spaceWidth) * 4.87);
  background-position: -700% 0;
}

[data-space="9"] {
  top: calc(var(--spaceWidth) * 4.15);
  left: calc(var(--spaceWidth) * 4.15);
  background-position: -800% 0;
}

[data-space="10"] {
  top: calc(var(--spaceWidth) * 4.85);
  left: calc(var(--spaceWidth) * 3.45);
  background-position: -900% 0;
}

[data-space="11"] {
  top: calc(var(--spaceWidth) * 4.85);
  left: calc(var(--spaceWidth) * 2.4);
  background-position: -1000% 0;
}

[data-space="12"] {
  top: calc(var(--spaceWidth) * 4.85);
  left: calc(var(--spaceWidth) * 1.4);
  background-position: -1100% 0;
}

[data-space="13"] {
  top: calc(var(--spaceWidth) * 4.15);
  left: calc(var(--spaceWidth) * 0.7);
  background-position: -1200% 0;
}

[data-space="14"] {
  top: calc(var(--spaceWidth) * 3.45);
  left: calc(var(--spaceWidth) * -0.05);
  background-position: -1300% 0;
}

[data-space="15"] {
  top: calc(var(--spaceWidth) * 2.45);
  left: calc(var(--spaceWidth) * -0.05);
  background-position: -1400% 0;
}

[data-space="16"] {
  top: calc(var(--spaceWidth) * 1.45);
  left: calc(var(--spaceWidth) * -0.05);
  background-position: -1500% 0;
}

.wtw_die {
  border-radius: var(--bga-dice_border-radius);
}
.wtw_die:not(.bga-animations_animated) {
  box-shadow: 0 2px 24px 0 black;
}
.wtw_die .bga-dice_die-faces {
  background-color: white;
  border-radius: var(--bga-dice_border-radius);
}
.wtw_die .bga-dice_die-face {
  background-image: url("img/die.png");
  background-size: 600% 100%;
  background-color: white;
  backface-visibility: hidden;
}

:root {
  --towerWidth: calc(var(--spaceWidth) * 0.9);
}

.wtw_spaceTowersContainer {
  position: relative;
  width: 100%;
}

.wtw_spaceTowers {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--spaceWidth);
}
.wtw_spaceTowers .wtw_tower {
  position: absolute;
}

.wtw_tower {
  background-image: url("img/towers.png");
  background-position: -200%;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 2px 16px 6px black;
  aspect-ratio: 1;
  width: var(--towerWidth);
}
.wtw_tower-raven {
  background-position: -100%;
}
.wtw_tower-ravenskeep {
  background-position: 0;
  border-radius: 0;
  box-shadow: none;
  pointer-events: none;
  filter: none !important;
}
.wtw_tower-selected {
  border: 4px solid green;
  border-radius: 100%;
  transform: scale(1.2);
}
.wtw_tower-elevated {
  animation: 0.5;
  transform: translateY(110%);
  z-index: 9;
}

:root {
  --innerTowerWidth: calc(var(--towerWidth) * 0.7);
  --wizardWidth: calc(var(--innerTowerWidth) / 3);
}

.wtw_spaceWizardsContainer {
  position: relative;
  width: 100%;
}

.wtw_spaceWizards {
  position: absolute;
  transform: translate(30%, 15%);
  aspect-ratio: 1;
  width: var(--innerTowerWidth);
  pointer-events: none;
  z-index: 11;
}

.wtw_wizardTier {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--wizardWidth));
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 100%;
  pointer-events: none;
}
.wtw_wizardTier-imprisoned {
  opacity: 0;
  z-index: -99;
}
.wtw_wizardTier-imprisoned .wtw_wizard {
  pointer-events: none;
}
.wtw_wizardTier-elevated {
  animation: 0.5s;
  transform: translateY(160%);
  z-index: 9;
}

.wtw_wizard {
  background-image: url("img/wizards.png");
  background-size: cover;
  aspect-ratio: 1/1.41;
  width: var(--wizardWidth);
  z-index: 1;
  pointer-events: auto;
}
.wtw_wizard.bga-animations_animated {
  z-index: 11 !important;
}
.wtw_wizard-tooltip {
  width: calc(var(--wizardWidth) * 2);
}
.wtw_wizard-selectable {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6666666667);
}
.wtw_wizard-selected {
  background-color: rgba(0, 170, 0, 0.3333333333);
  transform: scale(1.5) rotate(10deg);
  z-index: 2;
}
.wtw_wizard-ravenskeep {
  animation: 1s linear forwards enterRavenskeep;
}

.wtw_ravenskeepCounter {
  font-family: "Kuhlenbach", Roboto, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
}

.wtw_ravenskeepCounterIcon {
  background-image: url("img/ravenShield.png");
  background-size: cover;
  aspect-ratio: 1;
  width: 50px;
}

.wtw_ravenskeepCountContainer {
  display: flex;
  gap: 2px;
}

.wtw_wizardTooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

@keyframes enterRavenskeep {
  100% {
    transform: translateY(40%) scale(0.1) rotate(1080deg);
  }
}
:root {
  --moveHeight: 100px;
}

.wtw_moveHand {
  margin: 16px 0 32px 0;
}

.wtw_moveDiscard {
  position: relative;
  aspect-ratio: 447/300;
  height: var(--moveHeight);
  padding: 0;
}
.wtw_moveDiscard .wtw_move {
  position: absolute;
  z-index: 1;
}

.wtw_moveDiscardTitle {
  color: black;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.wtw_deckCounter {
  font-size: 60px !important;
  font-weight: bold;
  text-shadow: 0 0 3px black, 0 0 6px black, 0 0 9px black, 0 0 12px black !important;
}

.wtw_move {
  aspect-ratio: 447/300;
  height: var(--moveHeight);
}
.wtw_move-selected {
  outline: 3px solid green;
  transform: translateY(-20%) !important;
  z-index: 1;
}
.wtw_move-tooltip {
  height: calc(var(--moveHeight) * 1.5);
}
.wtw_move .card-side {
  box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.5) !important;
  background-size: cover;
}
.wtw_move-front {
  background-image: url("img/moves_1.png");
}
.wtw_move-back {
  background-image: url("img/moveBack.jpg");
}

:root {
  --potionWidth: 40px;
}

.wtw_potionCargo:empty {
  display: none;
}

.wtw_potionVoid {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wtw_potion {
  background-image: url("img/potions_empty.png");
  background-size: cover;
  aspect-ratio: 373/485;
  width: var(--potionWidth);
}
.wtw_potion-empty {
  background-image: url("img/potions_empty.png");
  background-size: cover;
}
.wtw_potion-filled {
  background-image: url("img/potions_filled.png");
  background-size: cover;
}

:root {
  --spellWidth: calc(var(--towerWidth) * 0.8);
}

.wtw_spells {
  position: absolute;
  aspect-ratio: 1;
  pointer-events: none;
  width: 100%;
}

.wtw_spell {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 2px 8px 2px black;
  aspect-ratio: 1;
  width: var(--spellWidth);
  transform: translate(-50%, -50%);
  pointer-events: auto;
}
.wtw_spell .card-side {
  background-image: url("img/spells.png");
  background-size: cover;
}
.wtw_spell-tooltip {
  position: relative;
  top: unset !important;
  left: unset !important;
  transform: none !important;
}
.wtw_spell-selected {
  border: 3px solid green;
  transform: scale(1.2) translate(-50%, -50%);
}
.wtw_spell:nth-child(1) {
  top: 20%;
  left: 37.5%;
}
.wtw_spell:nth-child(2) {
  top: 20%;
  left: 62.5%;
}
.wtw_spell:nth-child(3) {
  top: 80%;
  left: 37.5%;
}
.wtw_spell:nth-child(4) {
  top: 80%;
  left: 62.5%;
}
.wtw_spell:nth-child(5) {
  top: 35%;
  left: 15%;
}
.wtw_spell:nth-child(6) {
  top: 65%;
  left: 15%;
}
.wtw_spell:nth-child(7) {
  top: 35%;
  left: 85%;
}
.wtw_spell:nth-child(8) {
  top: 65%;
  left: 85%;
}

.wtw_spellTooltip {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background-image: url("img/background2.png");
  padding: 8px;
}

.wtw_spellContent {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.wtw_spellDescription {
  font-size: 32px;
  margin: 0;
  height: var(--spellWidth);
  width: calc(var(--spellWidth) * 2);
}

@font-face {
  font-family: "Kuhlenbach";
  src: url("img/kuhlenbach-font/kuhlenbach.ttf");
}
.wtw_gameArea {
  direction: ltr !important;
  font-family: "Kuhlenbach", Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;
  width: 100%;
}
