:root {
  --wizardWidth: calc(var(--towerWidth) / 4);
}

.wtw_spaceWizardsContainer {
  position: relative;
  width: 100%;
}

.wtw_spaceWizards {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--wizardWidth));
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 8px;
  aspect-ratio: 1;
  width: var(--spaceWidth);
}

.wtw_wizard {
  background-image: url("img/wizards.png");
  background-size: cover;
  aspect-ratio: 1 / 1.53;
  width: var(--wizardWidth);
  z-index: 2;

  &-selected {
    transform: scale(1.5);
    z-index: 3;
  }
}
