:root {
  --innerTowerWidth: calc(var(--towerWidth) * 0.7);
  --wizardWidth: calc(var(--innerTowerWidth) / 3);
}

.wtw_spaceWizardsContainer {
  position: relative;
  width: 100%;
}

.wtw_spaceWizards {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--wizardWidth));
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  transform: translate(45%, 25%);
  aspect-ratio: 1;
  width: var(--innerTowerWidth);
  z-index: 11;
  pointer-events: none;
}

.wtw_wizard {
  background-image: url("img/wizards.png");
  background-size: cover;
  aspect-ratio: 1 / 1.53;
  width: var(--wizardWidth);
  z-index: 1;
  pointer-events: auto;

  &.bga-animations_animated {
    z-index: 11 !important;
  }

  &-selected {
    transform: scale(1.5);
    z-index: 2;
  }

  &-imprisioned {
    display: none;
  }
}
