:root {
  --towerWidth: calc(var(--spaceWidth) * 0.9);
}

.wtw_spaceTowersContainer {
  position: relative;
  width: 100%;
}

.wtw_spaceTowers {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--spaceWidth);

  .wtw_tower {
    position: absolute;
  }
}

.wtw_tower {
  background-image: url("img/towers.png");
  background-position: -200%;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 2px 16px 6px black;
  aspect-ratio: 1;
  width: var(--towerWidth);

  &-raven {
    background-position: -100%;
  }

  &-ravenskeep {
    background-position: 0;
    border-radius: 0;
    box-shadow: none;
    pointer-events: none;
    filter: none !important;
  }

  &-selected {
    border: 4px solid green;
    border-radius: 100%;
    transform: scale(1.2);
  }

  &-elevated {
    animation-duration: 3s;
    animation-name: elevateTower;
    border: none;
    transform: scale(1);
    z-index: 9;
  }
}

@keyframes elevateTower {
  25% {
    transform: translateY(110%);
  }

  50% {
    transform: translateY(110%);
  }

  100% {
    transform: translateY(0%);
  }
}
