:root {
  --towerWidth: calc(var(--spaceWidth) * 0.75);
}

.wtw_spaceTowersContainer {
  position: relative;
  width: 100%;
}

.wtw_spaceTowers {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--spaceWidth);

  .wtw_tower {
    position: absolute;
  }
}

.wtw_tower {
  background-image: url("img/towers.png");
  background-position: -200%;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 2px 16px 6px black;
  aspect-ratio: 1;
  width: var(--towerWidth);

  &-raven {
    background-position: -100%;
  }

  &-ravenskeep {
    background-position: 0;
    border-radius: 0;
    box-shadow: none;
  }

  &-selected {
    border: 3px solid red;
    border-radius: 100%;
    transform: scale(1.2);
  }
}
