:root {
  --potionWidth: 45px;
}

.wtw_potionCargo {
  margin: 4px auto;
}

.wtw_potion {
  background-image: url("img/potions_empty.png");
  background-size: cover;
  aspect-ratio: 373 / 484;
  width: var(--potionWidth);

  &-empty {
    background-image: url("img/potions_empty.png");
    background-size: cover;
  }

  &-filled {
    background-image: url("img/potions_filled.png");
    background-size: cover;
  }
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
