:root {
  --potionWidth: 30px;
}

.wtw_potionCargo {
  width: fit-content;

  &:empty {
    display: none;
  }
}

.wtw_potionVoid {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wtw_potion {
  aspect-ratio: 373 / 485;
  width: var(--potionWidth);
  filter: drop-shadow(2px 2px 2px #000000);

  .card-side {
    background-size: cover;
  }
}
