.wtw_die {
  border-radius: var(--bga-dice_border-radius);

  &:not(.bga-animations_animated) {
    box-shadow: 0 2px 24px 0 black;
  }

  .bga-dice_die-faces {
    background-color: white;
    border-radius: var(--bga-dice_border-radius);
  }
  .bga-dice_die-face {
    background-image: url("img/die.png");
    background-size: 600% 100%;
    background-color: white;
    backface-visibility: hidden;
  }
}
