.wtw_card {
  .card-side {
    width: 100%;
    box-shadow: none !important;
  }
}

.wtw_deck {
  & > .wtw_card {
    box-shadow: calc(var(--thickness) * var(--xShadowShift))
        calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111,
      calc(var(--thickness) * var(--xShadowShift))
        calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
  }
}
