.wtw_positiveButton {
  background-color: green;

  &:hover {
    background-color: green !important;
  }
}

.wtw_deckCounter {
  font-size: 36px !important;
}

.player-board-game-specific-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
}
