:root {
  --spellWidth: calc(var(--towerWidth) * 0.8);
}

.wtw_spells {
  position: absolute;
  aspect-ratio: 1;
  pointer-events: none;
  width: 100%;
}

.wtw_spell {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 2px 8px 2px black;
  aspect-ratio: 1;
  width: var(--spellWidth);
  transform: translate(-50%, -50%);
  pointer-events: auto;

  .card-side {
    background-image: url("img/spells.png");
    background-size: cover;
  }

  &-tooltip {
    position: relative;
    top: unset !important;
    left: unset !important;
    transform: none !important;
  }

  &-selected {
    border: 3px solid green;
    transform: scale(1.2) translate(-50%, -50%);
  }

  &:nth-child(1) {
    top: 20%;
    left: 37.5%;
  }
  &:nth-child(2) {
    top: 20%;
    left: 62.5%;
  }
  &:nth-child(5) {
    top: 35%;
    left: 85%;
  }
  &:nth-child(6) {
    top: 65%;
    left: 85%;
  }
  &:nth-child(3) {
    top: 80%;
    left: 37.5%;
  }
  &:nth-child(4) {
    top: 80%;
    left: 62.5%;
  }
  &:nth-child(7) {
    top: 35%;
    left: 15%;
  }
  &:nth-child(8) {
    top: 65%;
    left: 15%;
  }
}

.wtw_spellTooltip {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.wtw_spellDescription {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background-image: url("img/background.png");
  padding: 8px;
}
