/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * WanderingTowers implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * wanderingtowers.css
 *
 * WanderingTowers stylesheet
 *
 */

@use "libs/bga-zoom";
@use "libs/bga-dice";
@use "libs/bga-cards";
@use "scss/interface";
@use "scss/board";
@use "scss/cards";
@use "scss/preferences";
@use "components/Space/space";
@use "components/Die/die";
@use "components/Tower/tower";
@use "components/Wizard/wizard";
@use "components/Move/move";
@use "components/Potion/potion";
@use "components/Spell/spell";

@font-face {
  font-family: "Kuhlenbach";
  src: url("img/kuhlenbach-font/kuhlenbach.ttf");
}

.wtw_gameArea {
  direction: ltr !important;
  font-family: "Kuhlenbach", Roboto, Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;
  width: 100%;
}
