:root {
  --boardWidth: calc(var(--spaceWidth) * 5.8);
}

.wtw_board {
  position: relative;
}

.wtw_boardCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  aspect-ratio: 1;
  width: calc(var(--boardWidth) * 0.7);
  z-index: 1;
  pointer-events: none;
}
