.wtw_positiveButton {
  background-color: green;

  &:hover {
    background-color: green !important;
  }
}

.wtw_whiteblock {
  background-color: #ffffffaa;
  border-radius: 8px;
  padding: 4px;
}

.player-board-game-specific-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
}

.wtw_tooltipText {
  font-family: "Kuhlenbach", Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.wtw_button {
  background: var(--color);
  border: 1px solid var(--borderColor);

  &:hover {
    background: var(--color) !important;
  }

  &-brown {
    --color: peru;
    --borderColor: sienna;
  }
}
