.wtw_pref-thematicBg {
  background-image: url("img/background2.png");
  background-size: 100% 100%;

  .player-board {
    background-image: url("img/background.png");
    background-size: cover;
    background-position: center;
  }
}