.wtw_pref-thematicBg {
  background-image: url("img/background2.jpg");
  background-size: 100% 100%;

  .player-board {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
  }
}

.wtw_pref-floatingHand {
  .game_interface:not(.mode_3d) .wtw_moveHand {
    position: fixed;
    left: 50%;
    bottom: -10%;
    margin: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s;
    z-index: 2;

    &:hover,
    &:has(.wtw_move-selected) {
      bottom: -5%;
      z-index: 1052;
    }
  }

  .wtw_boardCenter {
    top: 50%;
  }
}
